@charset "utf-8";
/* import */
@import 'reset.css';
@import 'contents.css';

/*base*/
.w2group {background-color: transparent;}
/*accodian*/
.w2accordion,
.w2panels {border:0;}
.w2panels_content_closed {
	display: none;
}
					
.w2panels_content_open {
	position: relative;
	display: block;
}

/*********layout********/
body{
	min-width: 128rem;
	font-size: 1.6rem;
	line-height: 2.4rem;
}
.contents-box {
	position: absolute;
	left: 0;
	right:0;
	bottom:0;
	width: 100%;
	height: calc(100% - 6.4rem);
	overflow: hidden;
}
/*main header*/
.header {
	display: flex;
	justify-content: space-between;
	padding:2rem 2.4rem;
	background-color: #42444E;
	color: #fff;
	font-size: 1.5rem;
	line-height: 2.2rem;
	box-sizing: border-box;
}
.header .left,
.header .right,
.header .logout {display: flex;align-items: center;}
.header .left {font-weight: 700;font-size:2rem;       }
.header .fc-yellow {margin-right:0.5rem;font-weight: 700;}
.header .logo {display:flex;align-items: center;height: 2.4rem;}
.header .logo::after{content: '';display:inline-block;width: 1px;height: 1.8rem;background-color: #fff;margin: 0 1.8rem;opacity: 0.2;}
.header .logo a {width:11rem;height: 2.4rem;background: url(../images/kb_logo.png) no-repeat 0 0 / contain;text-indent: -9999em;}
.header .btn_menu {width: 2.4rem;height: 2.4rem;margin-right:2rem;background: url(../images/btn/btn_menu_closed.svg) no-repeat 0 0 / cover;text-indent: -9999em;}
.header .btn_menu.off {background-image: url(../images/btn/btn-menu-opened.svg);}
.header .btn_logout {height: 2.4rem;margin-left:1.2rem;padding-right:3.7rem;background: url(../images/btn/btn_logout.svg) no-repeat 100% 0 / 2.4rem 2.4rem;color:#fff;}
.header .user-box + .logout::before {content: '';display: inline-block;width:1px;height: 1.6rem;margin-left:1.2rem;background-color: #fff;opacity: 0.2;}


/*main side menu*/ 
.side-menu-box {position: absolute;left:0;width:26rem;height:100%;background-color: #fff;box-shadow:2px 2px 8px 0px rgba(0,0,0,0.08);overflow-y:auto;box-sizing: border-box;transition-property:left;transition-duration:0.5s;transition-delay: 0.3s;}
.side-menu-box.off {left: -26rem;transition-property:left;transition-duration:0.5s;transition-delay: 0.3s;}
.side-menu-box .side-menu-list {height: 100%;}
.side-menu-box .w2panels:first-child .w2panels_title {padding-top: 2.4rem;}
.side-menu-box .w2panels:first-child .w2panels_title_image {top:2.4rem;}
.side-menu-box .w2panels_title {position:relative;height:auto;padding:2rem 2rem 0 2.4rem;background:none;font-size: 1.5rem;font-weight: 700;cursor: pointer;}
.side-menu-box .w2panels_title .w2panels_title_image {position: absolute;right: 2rem;top: 2rem;width: 2.4rem;height: 2.4rem;background: url(../images/ico/ico_acc_open.svg) no-repeat 0 0 / cover;}
.side-menu-box .w2panels_title .w2panels_title_image_open {transform: rotate(180deg);}
.side-menu-box ul > li > a {font-size: 1.4rem;color: #666;}
.side-menu-box ul > li {display: flex;flex-wrap: wrap;align-items: center;box-sizing: border-box;}
.side-menu-box ul > li > .btn_expand {width:2.4rem;height: 2.4rem;margin-right:2rem;background: url(../images/ico/ico_acc_s_open.svg) no-repeat 0 0 / cover;text-indent: -9999em;}
.side-menu-box .w2panels_content_open .two-dept-list {display: block;}
.side-menu-box .two-dept-list > li > a:first-child {height:3.6rem;padding-left:4.4rem;flex-grow:1;line-height: 3.6rem;}
.side-menu-box .two-dept-list > li:first-child {margin-top:1.2rem;} 
.side-menu-box .three-dept-list {display:none;height:0;width:100%;}
.side-menu-box .two-dept-list > li.show .btn_expand {background-image: url(../images/ico/ico_acc_s_close.svg);}
.side-menu-box .two-dept-list > li.show .three-dept-list {display:block;height:auto;}
.side-menu-box .three-dept-list li > a {height:3.4rem;width:100%;padding: 0 2rem 0 6.4rem;line-height: 3.4rem;}
.side-menu-box .three-dept-list li:hover a {background-color:rgba(255, 220, 0, 0.1);font-weight:500;color:#202020;}
.side-menu-box .two-dept-list li {position: relative;}
.side-menu-box .two-dept-list li::before {content:'';position: absolute;left:2.4rem;top:0.6rem;display: inline-block;width:1.6rem;height:1.6rem;background: url(../images/ico/ico-dropdown-depth.svg) no-repeat 0 0 / cover;}
.side-menu-box .two-dept-list .three-dept-list li::before {left:4.4rem;top:5px;}

/*main page area*/
.contents-box .page-box {width:calc(100% - 26rem);height:100%;margin-left:26rem;overflow-y: auto;background-color: #F3F5F6;transition-property:margin-left, width;transition-delay: 0.3s;transition-duration:0.5s;}
.contents-box .page-box.off {width:100%;margin-left:0;transition-property:margin-left, width;transition-duration:0.5s;transition-delay: 0.3s;}
.contents-box .page-box .contents {padding:3.2rem;}
.contents-box .layer-box {padding:2.4rem;border-radius:0.8rem;background-color:#fff;box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.05);}
.contents-box .layer-box + .layer-box {margin-top: 1.6rem;}
/*******layout end*******/

/****font****/
.fs-15{
	font-size: 1.5rem;
	line-height: 2.2rem;
}
.fs-14{
	font-size: 1.4rem;
	line-height: 2rem;
}
.fs-13{
	font-size: 1.3rem;
	line-height: 1.9rem;
}
.fs-12{
	font-size: 1.2rem;
	line-height: 1.8rem;
}
.fc-yellow {color: #FFDC00 !important;}
.fc-blue {color: #2E74F2 !important;}
.fc-gray {color: #999 !important;}
.fc-d-gray {color: #666 !important;}
.fw-300 {font-weight: 300 !important;}
.fw-500 {font-weight: 500 !important;}
.fwb {font-weight: 900 !important;}

/*align*/
.tac {text-align: center !important;}
.tar {text-align: right !important;}
.tal {text-align: left !important;}
.vam {vertical-align: middle !important;}
.vab {vertical-align: bottom !important;}

/*width*/
.wxs {width: 12rem !important; flex-grow: 0 !important;}
.ws {width:14rem !important; flex-grow: 0 !important;}
.wm {width: 16rem !important; flex-grow: 0 !important;}
.wl {width:20rem !important; flex-grow: 0 !important;}
.wxl {width:25rem !important; flex-grow: 0 !important;}
.w100 {width:100% !important;}

/*flex*/
.flex {display: flex;column-gap: 1.6rem;}
.flex.-wrap {flex-wrap: wrap;}
.flex .w-fixed {flex-shrink: 0;flex-grow: 0;}
.flex .w-flexed {flex-grow: 1;}
.flex .w-match {flex: 1;}
.flex .layer-box {margin-top: 0 !important;}

.asc {align-self: center;}

/*margin*/
.mt10 {margin-top: 1rem;}
.mt20 {margin-top: 2rem;}
.mt32 {margin-top: 3.2rem;}
.mr10 {margin-right: 1rem;}
.ml10 {margin-left: 1rem;}
.mb10 {margin-bottom: 1rem;}

.ml6 {margin-left: 0.6rem;}
.mr6 {margin-right: 0.6rem;}
/***title***/
.title-box {display:flex;width: 100%;justify-content: space-between;}
.title-box * {display: inline-block;}
.table-box + .title-box {margin-top: 3.2rem;}
.title-box .right {display: flex;gap: 0.6rem;margin-bottom: 1.2rem;}
.title-box .left .btn {vertical-align: top;margin-top: 0.2rem;}
.title-box .head-title + .btn {margin-left: 1.2rem;}
.head-title {margin-bottom:2rem;font-size: 2.2rem;line-height:3.4rem;font-weight: 700;}
.sub-title {margin-bottom:1.2rem;font-size: 1.6rem;line-height: 2.4rem;font-weight: 700;}

.breadcrumb ul {display: flex;align-items: center;gap:2.4rem;margin-top:0.9rem;}
.breadcrumb ul li {position: relative;}
.breadcrumb ul li + li::before {content: '';position:absolute;left:-2.4rem;top:-1px;width:2.4rem;height: 2.4rem;display: inline-block;background: url(../images/ico/ico-arrow-breadcrumb.svg) no-repeat 0 0 / cover;}
.breadcrumb a {font-size: 1.4rem;line-height: 2rem;color:#666;}
.breadcrumb ul li:last-child a {font-weight: 500;color: #202020;}

.total-box {margin-left:1.2rem;font-size: 1.4rem;font-weight: 300;line-height: 2rem;}
.total-box .current {margin-right:0.4rem;font-weight: 500;color: #2E74F2;}
.total-box .total {margin-left: 0.4rem;}

/*background color*/
.bg-green {background-color: #EEF9F6 !important;}
.bg-blue {background-color: rgba(46, 116, 242, 0.05) !important;}
.bg-yellow {background-color: #FFFBE5 !important;}
.bg-red {background-color: #FFF4F6 !important;}

/***button***/
.btn {
	min-width:8rem;
	height: 3.6rem;
	padding: 0 0.9rem;
	background: #fff;
	border-radius: 0.4rem;
	outline: 0;
	border: 0;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 1.5rem;
	font-weight: 400;
	color: #42444E;
	text-align: center;
	box-sizing: border-box;
	cursor: pointer;
}
.btn.small {
	min-width: auto;
	height: 3.2rem;
	padding: 0 1.6rem;
	border-radius: 0.2rem;
	font-size: 1.4rem;
	font-weight: 300;
}
.btn-primary {background-color: #FFDC00;}
.btn-primary:hover {background-color: #FFC700;}
.btn-primary:disabled {background-color:rgba(255, 220, 0, 0.3);opacity: 0.3;} 
.btn-line {border:1px solid #AEB6D0;}
.btn-line:hover {border-color:#4A567E;color:#4A567E;}
.btn-line:disabled {border-color:rgba(174, 182, 208, 0.3);color:rgba(66, 68, 78, 0.3);}
.btn-primary.small {background-color: #42444E;color:#fff;}
.btn-primary.small:hover {background-color:#4A567E;}
.btn-primary.small:disabled {background-color: #42444E;opacity: 0.3;}
.btn-line.small {color: #42444E;}
.btn-line.small:hover {border-color: #4A567E; color: #4A567E;}
.btn-line.small:disabled {border-color: #ccc;background-color: #F3F5F6;color: #ccc;}

/*icon button*/
.btn-icon {min-width: auto;height: 3.2rem;padding: 0 1.6rem 0 3.2rem;border-radius: 0.2rem;border:1px solid #AEB6D0;background-repeat: no-repeat;background-size: 2rem 2rem;background-position: 1.0rem 0.5rem;color: #42444E;font-size: 1.4rem;font-weight: 300;line-height: 2rem;}
.btn-icon:hover {border-color: #4A567E;color: #4A567E;}
.btn-icon:disabled {border-color: #ccc;background-color: #F3F5F6;color: #ccc;}
.btn-icon.-download {background-image: url(../images/ico/ico-download.svg);background-repeat: no-repeat;background-size: 2rem 2rem;background-position: 1.0rem 0.5rem;}
.btn-icon.-download:hover {background-image: url(../images/ico/ico-download-hover.svg);}
.btn-icon.-download:disabled {background-image: url(../images/ico/ico-download-disable.svg);}
.btn-icon.-o {background-image: url(../images/ico/ico-o.svg);}
.btn-icon.-x {background-image: url(../images/ico/ico-x.svg);}
.btn-icon.-minus {background-image: url(../images/ico/ico-minus.svg);}
.btn-icon.-plus {background-image: url(../images/ico/ico-plus.svg);}

.btn-text {display:inline-block;text-decoration: underline !important;font-size: 1.4rem;color: #2E74F2 !important;line-height: 2rem;}
.btn-delete {display:inline-block;width: 2rem;height: 2rem;background: url(../images/btn/btn-file-del.svg) no-repeat 0 0 / cover;border:0;outline:0;vertical-align: middle;text-indent: -9999em;}
.btn-expand {height:3.5rem;border-radius:0.8rem;padding-left:3.2rem;padding-right:3.2rem;font-size: 1.3rem;font-weight: 500;clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);}
.btn-dotline {position:relative;height:2.4rem;padding:0 1.2rem 0 3rem !important;background-color:#fff;border-radius:1.2rem;border: 1px dotted #ccc;font-size: 1.3rem;color: #999;font-weight: 300;}
.btn-dotline::before {content: '';position: absolute;left:0.8rem;top:0.4rem;width:1.6rem;height: 1.6rem;background:url(../images/ico/ico-addtab-plus.svg) no-repeat 0 0 / cover;}
.btn-tooltip {display: inline-block;width:2rem;height: 2.1rem;border:0;outline:0;background: url(../images/btn/btn-ico-tooltip.svg) no-repeat 0 0 / cover;text-indent: -999em;vertical-align:top;}
.btn-move-right {width: 3.2rem;border: 1px solid #AEB6D0;border-radius: 0.2rem;background: url(../images/btn/btn-move-right.svg) no-repeat 50% 50% / 2rem 2rem; text-indent: -999em;}
.btn-move-left {width: 3.2rem;border: 1px solid #AEB6D0;border-radius: 0.2rem;background: url(../images/btn/btn-move-left.svg) no-repeat 50% 50% / 2rem 2rem; text-indent: -999em;}

.btn-box {display: flex;gap:0.6rem;justify-content: center;margin-top: 1.6rem;}
.vertical-btn-box {display: flex;flex-direction: column;justify-content: center;}
.vertical-btn-box .w2trigger + .w2trigger {margin-top: 0.6rem;} 
.layer-box .btn-box {justify-content: space-between;}
.layer-box .btn-box .btn + .btn {margin-left: 0.6rem;}
.btn-box + .layer-box {margin-top: 3.2rem;}

/******common component*******/
/*message*/
.txt-error {display:block;width:100%;margin-top:0.6rem;font-size: 1.2rem;font-weight: 500;line-height: 1.8rem;color:#FF1C37;}
.txt-division {margin-left:1.2rem;font-size: 1.4rem;font-weight: 300;line-height: 2rem;}

.msg-box {margin-top:2.4rem;color:#666;font-size: 1.4rem;font-weight: 300;}
.msg-box .info-title {margin-bottom:0.8rem;color: #202020;font-weight:500;font-size: 1.5rem;line-height: 2.2rem;}
.msg-box li {position: relative; display:flex;padding-left: 1rem;}
.msg-box li::before {content: '';position:absolute;left:0.2rem;top:1rem;display: inline-block;width:0.2rem;height:0.2rem;background-color:#202020;}
.msg-box li + li {margin-top: 0.4rem;}

/*select*/
.w2selectbox_select,
.w2calendar .w2calendar_wrap .w2selectbox {height: 3.2rem;padding:0.6rem 3.2rem 0.6rem 1.2rem;border: 1px solid #ccc;border-radius: 0.3rem;background: #fff url(../images/ico/ico-arrow-select.svg) no-repeat 98% / 2.4rem 2.4rem;font-size: 1.4rem;font-weight: 300;line-height: 2.2rem;}
.w2selectbox_select:hover:not([disabled="disabled"]),
.w2calendar .w2calendar_wrap .w2selectbox:hover  {border-color: #2E74F2;}
.w2selectbox_select:disabled,
.w2calendar .w2calendar_wrap .w2selectbox:disabled {background-color: #F3F5F6;color:#999;}
.w2selectbox_select:active:not([disabled="disabled"]),
.w2selectbox_select:focus:not([disabled="disabled"]),
.w2calendar .w2calendar_wrap .w2selectbox:active,
.w2calendar .w2calendar_wrap .w2selectbox:focus {border-color: #42444E;}

/*input*/
.w2input {min-width:2rem;height: 3.2rem;padding:0 1.2rem;border-radius: 0.3rem !important;border: 1px solid #ccc;outline: 0;font-size: 1.4rem;font-weight: 300;line-height: 2rem;font-family:'Noto Sans KR', 'sans-serif';box-sizing: border-box;}
.w2input:hover:not([disabled="disabled"]) {border-color: #2E74F2;}
.w2input:placeholder {color: #999999;}
.w2input:focus:not([disabled="disabled"]),
.w2input:active:not([disabled="disabled"]) {border-color: #42444E;background: #fff;}
.w2input_disabled {background-color: #F3F5F6;}

/*textarea*/
.w2textarea {width:100%;height: 7.2rem;padding:0.6rem 1.2rem;border-radius: 0.3rem !important;border: 1px solid #ccc;outline: 0;font-size: 1.4rem;font-weight: 300;line-height: 2rem;font-family:'Noto Sans KR', 'sans-serif';box-sizing: border-box;}
.w2textarea:hover:not([disabled="disabled"]) {border-color: #2E74F2;}
.w2textarea:placeholder {color: #999999;}
.w2textarea:focus:not([disabled="disabled"]),
.w2textarea:active:not([disabled="disabled"]) {border-color: #42444E;background: #fff;}

/*checkbox & radio*/
.w2checkbox,.w2radio {display: flex;flex-wrap: wrap;align-items: center;gap:2.4rem;row-gap: 0.8rem;}
.w2checkbox .w2checkbox_item, .w2radio .w2radio_item {position: relative;height: 2.4rem;}
.w2checkbox .w2checkbox_label, .w2radio .w2radio_label {display:block;padding-left:3.2rem;font-size: 1.4rem;font-weight: 300;line-height: 2rem;}
.w2checkbox .w2checkbox_label::before {content: '';position:absolute;left:0;top:0;display:inline-block;width: 2.4rem;height: 2.4rem;background: url(../images/ico/ico-checkbox-default.svg) no-repeat 0 0 / 2.4rem 2.4rem;}
.w2radio .w2radio_label::before {content: '';position:absolute;left:0;top:0;display:inline-block;width: 2.4rem;height: 2.4rem;background: url(../images/ico/ico-radio-default.svg) no-repeat 0 0 / 2.4rem 2.4rem;}
.w2checkbox .w2checkbox_input,
.w2radio .w2radio_input  {position:absolute;width:100%;height: 100%;margin:0;padding:0;opacity: 0;cursor: pointer;}
.w2checkbox .w2checkbox_input:checked + .w2checkbox_label,
.w2radio .w2radio_input:checked + .w2radio_label {font-weight: 500;}
.w2checkbox .w2checkbox_input:checked + .w2checkbox_label::before {background-image: url(../images/ico/ico-checkbox-checked.svg);}
.w2radio .w2radio_input:checked + .w2radio_label::before {background-image: url(../images/ico/ico-radio-checked.svg);}
.w2checkbox .w2checkbox_label.w2checkbox_disabled,
.w2radio .w2radio_label.w2radio_disabled  {color: #999;}
.w2checkbox .w2checkbox_label.w2checkbox_disabled::before {background-image: url(../images/ico/ico-checkbox-default-disabled.svg);}
.w2radio  .w2radio_label.w2radio_disabled::before {background-image: url(../images/ico/ico-radio-default-disabled.svg);}
.w2checkbox .w2checkbox_input:checked + .w2checkbox_label.w2checkbox_disabled::before {background-image: url(../images/ico/ico-checkbox-checked-disabled.svg);}
.w2radio .w2radio_input:checked + .w2radio_label.w2radio_disabled::before {background-image: url(../images/ico/ico-radio-checked-disabled.svg);}
.w2checkbox.small .w2checkbox_item,
.w2radio.small .w2radio_item {height: 2rem;}
.w2checkbox.small .w2checkbox_label,
.w2radio.small .w2radio_label {padding-left:2.8rem;font-size: 1.3rem;line-height: 2rem;}
.w2checkbox.small .w2checkbox_label::before,
.w2radio.small .w2radio_label::before {top:1px;width: 2rem;height: 2rem;background-size: 2rem 2rem;}
/*radio button round*/
.w2radio.btn-round {display: flex;gap:0.4rem;}
.w2radio.btn-round .w2radio_item {position: relative;height: 3.2rem;}
.w2radio.btn-round .w2radio_item .w2radio_input {position: absolute;width: 100%;height: 100%;margin:0;outline: 0;border: 0;opacity: 0;z-index: 5;}
.w2radio.btn-round .w2radio_item .w2radio_label {display:block;height: 3.2rem;padding: 0 1.6rem;border-radius: 1.6rem;border:1px solid #ccc;background-color: #F3F5F6;color: #ccc;font-size: 1.4rem;font-weight: 300;line-height: 2.9rem;box-sizing: border-box;}
.w2radio.btn-round .w2radio_item .w2radio_label::before {display: none;}
.w2radio.btn-round .w2radio_item .w2radio_input:hover + .w2radio_label {background-color:#4A567E;border-color: #4A567E;color:#fff;}
.w2radio.btn-round .w2radio_item .w2radio_input:checked + .w2radio_label  {background-color: #42444E;color:#fff;border-color: #42444E;}

/*input calendar*/
.w2inputCalendar_div {position:relative;height:3.2rem;width: 12rem;border-radius: 0.3rem;border: 1px solid #ccc;box-sizing: border-box;}
.w2inputCalendar_div .w2inputCalendar_divInput {border: 0;outline: 0;font-size: 1.4rem;font-weight: 300;font-family:'Noto Sans KR', 'sans-serif';padding-left:1.2rem;padding-right:0.6rem;}
.w2inputCalendar_div .w2inputCalendar_div_img {position:absolute;top:0.3rem;right:0.6rem;width: 2rem;height: 2rem;}
.w2inputCalendar_div .w2inputCalendar_button {width: 2rem;height: 2rem;}
.w2inputCalendar_div:hover:not([disabled="disabled"]) {border-color: #2E74F2;}
.w2inputCalendar_div[disabled="disabled"] {background-color: #e3e3e3;}
.w2inputCalendar_div:focus:not([disabled="disabled"]),
.w2inputCalendar_div:active:not([disabled="disabled"]) {border-color: #42444E;}

/*input calendar - 년월일*/
.w2calendar {width:26.6rem;height:auto;border-radius:0.8rem;border-color: #ccc;font:1.4rem 'Noto Sans KR', sans-serif;box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.08);}
.w2calendar .w2calendar_wrap {padding: 2.4rem 2rem;}
.w2calendar .w2calendar_wrap .w2calendar_header {height: 3.2rem;display: flex;gap:0.4rem;align-items: center;margin-bottom: 2rem;}
.w2calendar .w2calendar_wrap .w2calendar_header > .w2calendar_header_last_month,
.w2calendar .w2calendar_wrap .w2calendar_header > .w2calendar_header_next_month {position:static;width:2.4rem;height: 2.4rem;background: transparent url(../images/ico/ico-calendar-last-month.svg) no-repeat 0 0 / cover;}
.w2calendar .w2calendar_wrap .w2calendar_header > .w2calendar_header_next_month {background-image: url(../images/ico/ico-calendar-next-month.svg);}
.w2calendar .w2calendar_wrap .w2calendar_header > .w2selectbox {position: static;flex-grow:0;width: 7.6rem;font-size:1.4rem;font-family: 'Noto Sans KR', sans-serif;box-sizing: border-box;}
.w2calendar .w2calendar_wrap .w2calendar_header > .w2selectbox.w2calendar_selectbox_year {width:9rem;}
.w2calendar .w2calendar_wrap .w2calendar_header > .w2selectbox .w2selectbox_col_label {font-size: 1.4rem;line-height: 1.4rem;}
.w2calendar .w2calendar_wrap .w2calendar_header > .w2selectbox .w2selectbox_label {padding:0;}
.w2calendar .w2calendar_wrap .w2calendar_header .w2calendar_col_day_text {height: 3rem;}
.w2selectbox_over .w2selectbox_col_label {background: transparent;}
.w2calendar .w2calendar_wrap .w2calendar_header > .w2selectbox .w2selectbox_col_button {display: none;}
.w2calendar .w2calendar_wrap .w2calendar_content {border: 0;background: transparent;padding:0;}
.w2calendar .w2calendar_wrap .w2calendar_content table .w2calendar_col_date {height:3.2rem;background: transparent;font-size: 1.2rem;vertical-align: middle;line-height: 1.2rem;}
.w2calendar .w2calendar_wrap .w2calendar_content table .w2calendar_col_date.w2calendar_selected {position:relative;background-color: #FFDC00;border-radius: 50%;color:#202020;}
.w2calendar .w2calendar_wrap .w2calendar_content table .w2calendar_col_date.w2calendar_date_over {color:initial;}
.w2calendar .w2calendar_wrap .w2calendar_content table .w2calendar_day_0 {color: #FF1C37;font-weight: 500;}
.w2calendar .w2calendar_wrap .w2calendar_content table .w2calendar_day_0.w2calendar_date_over {color: #FF1C37;}
.w2calendar .w2calendar_wrap .w2calendar_content table .w2calendar_day_6 {color:#42444E;font-weight: 500;}
.w2calendar .w2calendar_wrap .w2calendar_content table .w2calendar_day_6.w2calendar_date_over {color:#42444E;}
.w2calendar .w2calendar_wrap .w2calendar_content table .w2calendar_date_nextmonth {display: none;}
.w2calendar .w2calendar_wrap .w2calendar_content table .w2calendar_day {margin-bottom:1.2rem;color:#999 !important;font-weight: 500;}
.w2calendar .w2calendar_footer,
.w2calendar .w2calendar_wrap .w2calendar_header > .w2calendar_header_last_year,
.w2calendar .w2calendar_wrap .w2calendar_header > .w2calendar_header_next_year {display: none;}

/*input calendar - 년월*/
.w2calendar.w2calendar_classYearMonth_dynamic .w2calendar_picker_header {display:flex;align-items: center; height:3.2rem;padding: 0;margin-bottom: 1rem;}
.w2calendar.w2calendar_classYearMonth_dynamic .w2calendar_picker_header_last_entity {flex-shrink:0;width:2.4rem;height: 2.4rem;background: transparent url(../images/ico/ico-calendar-last-month.svg) no-repeat 0 0/ cover;}
.w2calendar.w2calendar_classYearMonth_dynamic .w2calendar_picker_header_next_entity {flex-shrink:0;width:2.4rem;height: 2.4rem;background: transparent url(../images/ico/ico-calendar-next-month.svg) no-repeat 0 0/ cover;}
.w2calendar.w2calendar_classYearMonth_dynamic .w2calendar_picker_header_dynamic_entity
.w2calendar_picker_header_dynamic_entity:hover,
.w2calendar_picker_header_next_entity:hover,
.w2calendar_picker_header_dynamic_entity:hover {background: transparent;}
.w2calendar_picker_content table td {display: flex;row-gap: 0.8rem; flex-wrap: wrap;justify-content: space-between;padding: 0;}
.w2calendar_picker_content table td div {width: 5rem;height: 3rem;background-color:transparent;border-radius: 1.6rem; font-size: 1.4rem;line-height: 3rem;font-weight: 500;}
.w2calendar_picker_content table td div.active,
.w2calendar_picker_content table td div.active:hover {background-color:#FFDC00;color: #202020;font-weight: 500;text-shadow: none;}
.w2calendar_picker_content table td div:hover {background-color: transparent;color: #202020;font-weight: 500;text-shadow: none;}

/*form-box*/
.form-box {display: flex;gap:0.6rem;align-items: center;}
.form-box > * {flex-grow: 1;}
.form-box + .form-box,
.form-box + .add-box {margin-top: 0.8rem;}
.form-box.-term > * {flex-grow: 0;}
.form-box.-term > .w2selectbox_select,
.form-box.-term > .w2inputCalendar_div {width: 12rem;}
.form-box > .w2textbox,
.form-box > span {font-weight: 300;color: #666;}
.form-box > .btn,
.form-box > .btn-delete,
.form-box > .btn-text {flex-grow:0;}

.add-box {display: flex;align-items:stretch;}
.add-box .name {display: flex;align-items:center;padding-left:1.2rem;background-color:#F3F5F6;border-radius: 0.4rem 0 0 0.4rem;}
.add-box span {display:inline-block;height: 3.2rem;line-height: 3.2rem;}
.add-box span + span {margin-left: 0.8rem;}
.add-box span + span::before {content: '';display: inline-block;width:2rem;height: 2rem;margin-right:0.8rem;background: url(../images/ico/ico-arrow-right.svg) no-repeat 0 0 / cover;transform: translate(0, 0.5rem);}
.add-box .btn-delete {width:4rem;height:3.2rem;padding-left: 0.8rem;padding-right:1.2rem;border-radius:0 0.4rem 0.4rem 0;background-color:#F3F5F6;background-size:2rem 2rem;background-position: 0.8rem 50%;}
.add-box + .add-box {margin-top: 0.6rem;}

.grp-add-box {display: flex;flex-wrap: wrap;column-gap: 0.6rem;row-gap: 0.6rem;margin:0.8rem 0;}
.grp-add-box .add-box + .add-box {margin-top: 0;}
.add-box .cell {padding: 0.6rem 0 0.6rem 0.8rem;background-color:#F3F5F6;}
.add-box .cell + .btn-delete {height: 4.4rem;}
.add-box .w2radio {margin-left: 0.4rem;}
.search-box .add-box {margin-top:2.4rem;font-size: 1.4rem;font-weight: 300;gap:0.6rem;}
.search-box .add-box .name {padding-right:1.2rem;border-radius: 0.4rem;}

/*multiupload*/
.upload-form-box .form-header {display: flex;justify-content: space-between;align-items: center;height:3.2rem;margin-bottom: 0.6rem;}
.upload-form-box .form-header .btn-box {position: relative;margin: 0;}
.upload-form-box .w2multiupload_uploader {left:0;top:0;width: 100%;height: 100%;}
.upload-form-box .w2multiupload_uploader input {cursor: pointer;}
.upload-form-box .form-header .w2multiupload_uploader:hover + .btn {border-color: #4A567E;background-image: url(../images/ico/ico-download-hover.svg);color: #4A567E;}
.upload-form-box .form-contents .upload-list-box {position:relative;min-height:5.2rem;padding:1.6rem;border-radius: 0.3rem;border:1px dashed #ccc;background-color: #FBFBFB;box-sizing: border-box;}
.upload-form-box .form-contents .upload-list-box .notice {position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);width:100%;font-weight: 300;line-height: 2rem;text-align: center;color:#999;}
.upload-form-box .form-contents .upload-list-box .notice::before {content: '';display: inline-block;width:2rem;height: 2rem;margin-right:0.4rem;margin-bottom:0.3rem;background: url(../images/ico/ico-file-upload.svg) no-repeat 0 0 / cover;vertical-align: middle;}
.upload-form-box .form-contents .upload-list-box .table-box {display: none;}
.upload-form-box .form-contents .upload-list-box .tb {border: 0;background-color: #FBFBFB;}
.upload-form-box .form-contents .upload-list-box .tb tr {border: 0;}
.upload-form-box .form-contents .upload-list-box .tb td {height:2rem;padding: 0;background-color: transparent;}
.upload-form-box .form-contents .upload-list-box .tb tr + tr > td {padding-top: 1rem;}
.upload-form-box .form-contents.-load .table-box {display: block;}
.upload-form-box .form-contents.-load .notice {display: none;}

/*table*/
.table-box + .table-box {margin-top: 1.6rem;}
.table-box .tb {width:100%;border-top:1px solid #AEB6D0;}
.table-box .tb tbody tr {border-bottom: 1px solid #ddd;box-sizing: border-box;}
.table-box .tb .w2tb_th,
.table-box .tb .w2tb_td {padding:0.6rem 1.2rem;border:0;border-right: 1px solid #ddd;background-color: #fbfbfb;font-size: 1.4rem;line-height: 2rem;font-weight: 500;text-align: left;height: 4.4rem;box-sizing: border-box;}
.table-box .tb .w2tb_td {border-right:0;background-color: #fff;font-size: 1.4rem;font-weight: 300;}
.table-box .tb .w2tb_td + .w2tb_td {border-left: 1px solid #ddd;}
.table-box .tb .w2tb_th > .w2textbox {display: inline-block;}
.table-box .tb .w2tb_th.req > .w2textbox,
.table-box .tb .w2tb_th.req > span,
.table-box .tb .w2tb_th .req,
.search-box .tb .w2tb_th.req > .w2textbox,
.search-box .tb .w2tb_th.req > span,
.search-box .tb .w2tb_th .req {position:relative;display: inline-block;}
.table-box .tb .w2tb_th.req > .w2textbox:after,
.table-box .tb .w2tb_th.req > span:after,
.table-box .tb .w2tb_th .req:after,
.search-box .tb .w2tb_th.req > .w2textbox:after,
.search-box .tb .w2tb_th.req > span:after,
.search-box .tb .w2tb_th .req:after {content: '*';position: absolute;right:-12px;color:#FF1C37;font-size: 1.6rem;}
.table-box .tb thead .w2tb_th {height:3.6rem;text-align: center;font-size: 1.3rem;}
.table-box .tb thead .w2tb_th:last-child {border-right: 0;}
.table-box .tb thead + tbody > tr:first-child {border-top: 1px solid #ddd;}
/*table td > table*/
.table-box .tb .w2tb_td > .table-box {width:calc(100% + 2.4rem);margin-left: -1.2rem;margin-top: -0.6rem;margin-bottom: -0.6rem;}
.table-box .tb .w2tb_td > .table-box .tb {border-top: 0;}
.table-box .tb .w2tb_td > .table-box .tb .w2tb_th, 
.table-box .tb .w2tb_td > .table-box .tb .w2tb_td {border-right: 0;background-color:transparent;}
.table-box .tb .w2tb_td > .table-box .tb .w2tb_th {padding:0.6rem 1.6rem;}
.table-box .tb .w2tb_td > .table-box .tb .w2tb_td {padding: 0.6rem 0;}
.table-box .tb .w2tb_td > .table-box .tb .w2tb_td:last-of-type {padding-right:1.2rem;} 
.table-box .tb .w2tb_td > .table-box .tb tr:last-child {border-bottom: 0;}

.round-table-box {border: 1px solid #ddd;border-radius: 0.4rem;overflow: hidden;}
.round-table-box .tb {border-top: 0 !important;}
.round-table-box .tb tbody tr {border-bottom:0;}
.round-table-box .tb tbody tr + tr {border-top:1px solid #ddd;}
.round-table-box .nodata {display:none;width:100%;margin:0.8rem 0;font-weight: 300;line-height: 2rem;text-align: center;color: #999;}
.form-box + .round-table-box {margin-top: 0.6rem;}

/*grid*/
.grid-box .gvw {border-top: 1px solid #AEB6D0;border-bottom: 1px solid #ddd;min-height:8rem;}
.grid-box .gvw table {border: 0;}
.grid-box .gvw table thead {border:0;border-bottom:1px solid #ddd;}
.grid-box .gvw th.gridHeaderTDDefault {padding:1.2rem 0.8rem;border: 0;background: #FBFBFB;font-size: 1.4rem;font-weight: 500;line-height: 2rem;}
.grid-box .gvw th.gridHeaderTDDefault + th.gridHeaderTDDefault {border-left:1px solid #ddd;} 
.grid-box .gvw .gridBodyDefault {height: 4.5rem;padding:0 0.8rem;border: 0;vertical-align: middle;line-height:1.3rem;font-size:1.3rem;font-weight:300;box-sizing: border-box;}
.grid-box .gvw .gridBodyDefault + .gridBodyDefault {border-left: 1px solid #ddd;}
.grid-box .gvw .grid_body_row + .grid_body_row {border-top: 1px solid #ddd;}
.grid-box .gvw .gridHeaderTableDefault th[inputtype="checkbox"] {position: relative;}
.grid-box .gvw .gridHeaderTableDefault input[type="checkbox"] {position:absolute;left:0;top:0;width:100%;height: 100%;margin:0;opacity: 0;}
.grid-box .gvw .gridHeaderTableDefault input[type="checkbox"] + label {display:block;width:100%;height:2rem;background: url(../images/ico/ico-checkbox-default.svg) no-repeat 50% 0 / 2rem 2rem;text-indent: -9999em;}
.grid-box .gvw .gridHeaderTableDefault .show-label input[type="checkbox"] + label {background-position: 0.7rem 0;text-indent: 2.7rem;font-size: 1.4rem;font-weight: 500;line-height: 2rem;}
.grid-box .gvw .gridHeaderTableDefault input[type="checkbox"]:checked + label {background-image: url(../images/ico/ico-checkbox-checked.svg);}
.grid-box .gvw .gridHeaderTableDefault .w2grid_default_readonly input[type="checkbox"]:checked + label,
.grid-box .gvw .gridHeaderTableDefault input[type="checkbox"]:checked:disabled + label {background-image: url(../images/ico/ico-checkbox-checked-disabled.svg);}
.grid-box .gvw .gridHeaderTableDefault .w2grid_default_disabled input[type="checkbox"] + label,
.grid-box .gvw .gridHeaderTableDefault input[type="checkbox"]:disabled + label {background-image: url(../images/ico/ico-checkbox-default-disabled.svg);}
.grid-box .gvw .gridHeaderTableDefault td[inputtype="link"] a {height:40%;text-decoration: underline;color: #2E74F2;overflow: hidden;text-overflow: ellipsis;}
.grid-box .gvw .gridHeaderTableDefault td[inputtype="button"] button {width:auto !important;height: 2.4rem !important;border:1px solid #AEB6D0;border-radius:0.2rem;background:#fff;padding-left: 1rem;padding-right:1rem;font-size: 1.2rem;font-weight: 300;color:#42444E;line-height: 1rem;box-sizing: border-box;}
.grid-box .gvw .gridHeaderTableDefault td[inputtype="button"] button:hover {color: #4A567E;border-color: #4A567E;}
.grid-box .gvw .gridHeaderTableDefault td[inputtype="button"].w2grid_default_disabled button {border-color: #ccc;background-color: #F3F5F6;color:#999;cursor: default;}
.grid-box .gvw .gridHeaderTableDefault td[inputtype="button"].ico-download button {padding-left:2.6rem;background:#fff url(../images/ico/ico-download.svg) no-repeat 0.6rem 0 / 2rem 2rem;}
.grid-box .gvw .gridHeaderTableDefault td[inputtype="button"].ico-download button:hover {background-image: url(../images/ico/ico-download-hover.svg);}
.grid-box .gvw .gridHeaderTableDefault td[inputtype="button"].w2grid_default_disabled.ico-download button {background-image: url(../images/ico/ico-download-disable.svg);}
.grid-box .gvw .gridHeaderTableDefault td[inputtype="button"].ico-check button {padding-left:2.6rem;background:#fff  url(../images/ico/ico-check.svg) no-repeat 0.6rem 0 / 2rem 2rem;}
.grid-box .gvw .gridHeaderTableDefault td[inputtype="button"].w2grid_default_disabled.ico-check button {background-image: url(../images/ico/ico-check-disabled.svg);}
.grid-box .gvw .w2grid_head_sort_div_main_btn {display: none;right:0;width:2rem;height: 2rem;}
.grid-box .gvw .w2grid_head_sort_div_main_btn.w2grid_head_sort_none_btn,
.grid-box .gvw .w2grid_head_sort_div_main_btn.w2grid_head_sort_asc_btn,
.grid-box .gvw .w2grid_head_sort_div_main_btn.w2grid_head_sort_desc_btn {display: block;background: url(../images/ico/ico-sortable.svg) no-repeat 0 0 / cover;}
.grid-box .gvw .gridHeaderTableDefault td[inputtype="drilldown"] nobr {font-size: 1.4rem;}
.grid-box .gvw .gridHeaderTableDefault td[inputtype="drilldown"] .w2grid_depthBlank {width: 2rem;}
.grid-box .gvw .gridHeaderTableDefault td[inputtype="drilldown"] .w2grid_depthBlank_root {display: none;}
.grid-box .gvw .gridHeaderTableDefault td[inputtype="drilldown"] .w2grid_minus,
.grid-box .gvw .gridHeaderTableDefault td[inputtype="drilldown"] .w2grid_depthBlank_leaf .w2grid_leaf,
.grid-box .gvw .gridHeaderTableDefault td[inputtype="drilldown"] .w2grid_plus {width:2rem;height:1.6rem;background: url(../images/ico/ico-drilldown.svg) no-repeat 0 0 / 1.6rem 1.6rem;}
.grid-box .gvw .gridHeaderTableDefault td.depth1 nobr {font-size: 1.5rem;font-weight: 700;}
.grid-box .gvw .gridHeaderTableDefault .w2grid_fixedRow {border-bottom: 0;}
.grid-box .gvw .gridHeaderTableDefault .w2grid_fixedRow nobr {font-size: 1.5rem !important;font-weight: 700;color: #2E74F2;}
.grid-box .gvw .gridHeaderTableDefault td[hiddenClass="hidden"] + td,
.grid-box .gvw .gridHeaderTableDefault th[hiddenClass="hidden"] + th {border-left: 0;}

/*paging*/
.w2pageList {width: 100%;height: 2rem;margin-top: 1.6rem;}
.w2pageList td {font-size:1.3rem;line-height: 1.9rem;font-weight: 300;color: #999;}
.w2pageList td.w2pageList_col_prevPage:hover {background-image: url(../images/ico/ico-double-arrow-hover.svg) !important;}
.w2pageList td.w2pageList_col_prev:hover {background-image: url(../images/ico/ico-single-arrow-hover.svg) !important;}
.w2pageList td.w2pageList_col_next:hover {background-image: url(../images/ico/ico-single-arrow-right-hover.svg) !important;}
.w2pageList td.w2pageList_col_nextPage:hover {background-image: url(../images/ico/ico-double-arrow-right-hover.svg) !important;}

/*search box*/
.search-box {position: relative;}
.search-box .tb {width: 100%;}
.search-box .tb .w2tb_th,.search-box .tb .w2tb_td {height:auto;border: 0;border-bottom:1.2rem solid transparent;background: none;font-weight: 500;font-size:1.4rem;line-height:2rem;text-align: left;vertical-align: middle;box-sizing: border-box;}
.search-box .tb .w2tb_th {padding:0.32rem 0;}
.search-box .tb .w2tb_td {padding: 0;}
.search-box .tb .w2tb_td .w2textbox,
.search-box .tb .w2tb_td .w2span {color:#666;font-size: 1.3rem;}
.search-box .tb tbody tr:last-child .w2tb_th,
.search-box .tb tbody tr:last-child .w2tb_td {border-bottom: none;}
.search-box .tb .w2tb_td > .table-box {width:100%;margin: 0.9rem 0;}
.search-box .tb .w2tb_td > .table-box tr,
.search-box .expand-table-box table,
.expand-table-box .tb .w2tb_th, 
.expand-table-box .tb .w2tb_td {border: 0;}
.expand-table-box {margin-top: 1.2rem;}
.expand-table-box .table-box > .tb > tbody tr {border-top:1px solid #ddd;}
.expand-table-box .table-box > .tb > tbody tr:last-child {border-bottom:0}
.expand-table-box .table-box > .tb > tbody td > .table-box td {padding-top:0.4rem !important;padding-bottom:0.4rem !important;padding-right:3.2rem !important;}
.search-box .tb .w2tb_td > .table-box .w2tb_th {padding:0.75rem 0 !important;}
.search-box .tb .w2tb_td > .table-box .w2tb_th,
.search-box .tb .w2tb_td > .table-box .w2tb_td {border-bottom: 0;}
.search-box .btn-expand-box {position:absolute;bottom:-2.7rem;right:0;display: inline-block;margin: 0;background: url(../images/bg-btn-expand.svg) no-repeat;filter: drop-shadow(1px 0.4rem 4px rgba(0,0,0,0.03));cursor: pointer;}
.search-box .btn-expand-box::before {content: '';position:absolute;bottom:0.6rem;right:0.8rem;width: 2rem;height: 2rem;display: inline-block;background: url(../images/ico/ico-expand.svg) no-repeat 0 0 /cover;transform: rotate(0deg);transition: transform 0.6s linear;z-index: 1;}

.search-box .expand-table-box {display: none;}
.search-box.expand .expand-table-box {display: block;}
.search-box.expand .add-box {display: none;}
.search-box.expand .btn-expand-box::before {transition: transform 0.6s linear;transform: rotate(180deg);}

/*tab*/
.tab-box .w2tabcontrol {width:100%;height: auto;}
.tab-box .w2tabcontrol_tabhost {display:flex;float:inherit;gap:1.6rem;height: 3.4rem;font-size: 1.6rem;}
.tab-box .w2tabcontrol_tabhost .w2tabcontrol_li {margin: 0;float: inherit;box-sizing: border-box;}
.tab-box .w2tabcontrol_tabhost .w2tabcontrol_tab_center,
.tab-box .w2tabcontrol_tabhost .w2tabcontrol_tab_left,
.tab-box .w2tabcontrol_tabhost .w2tabcontrol_tab_right {background: none;}
.tab-box .w2tabcontrol_tabhost li a[role="tab"] {top:0;margin:0;text-align: left;font-weight: 500;color: #999;line-height: 2.4rem;}
.tab-box .w2tabcontrol_active {border-bottom: 3px solid #2E74F2;} 
.tab-box .w2tabcontrol_active a {color: #2E74F2 !important;} 
.tab-box .w2tabcontrol_container {border: 0;float: inherit;height: auto !important;padding-top:2.4rem;}
.tab-box .tab-control-box {display: flex;gap: 1.6rem;}
.tab-box .tab-control-box a {position:relative;top:0;margin: 0;font-weight: 300;color: #999;line-height: 2.4rem;}

.tab-box.closable .w2tabcontrol_tabhost li a[role="tab"] {padding-right:2.2rem;}
.tab-box.closable .w2tabcontrol_tabhost .w2tabcontrol_tab_right {width: 2rem;}
.tab-box.closable .w2tabcontrol_tabhost .w2tabcontrol_tab_close, 
.tab-box.closable .w2tabcontrol_tabhost .w2tabcontrol_tab_close2 {display:block !important;top:0;width: 100%;height:100%;background: url(../images/btn/btn-tab-closed.svg) no-repeat 0 20% / 2rem 2rem;}
.tab-box.closable .w2tabcontrol_active .w2tabcontrol_tab_right .w2tabcontrol_tab_close{background-image: url(../images/btn/btn-tab-closed-action.svg);}
/*tooltip*/
.tooltip-box:hover > .balloon{display:block;}
.tooltip-box {display: inline-block;position: relative;width: 2rem;height: 2.1rem;margin-left: 0.5rem;}
.tooltip-box .balloon {display:none;position:absolute;top:0;left:0;width:30rem;padding: 2rem;background-color:#fff;border-radius:0.8rem;border:1px solid #ccc;font-size: 1.4rem;font-weight: 300;line-height: 2rem;box-sizing:border-box;box-shadow: 0.4rem 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.08);z-index: 50;}
.tooltip-box .balloon .inner {display: flex;}
.tooltip-box .balloon .w2textbox {flex: 1;}
.tooltip-box .balloon .btn-closed {flex-shrink: 0;width: 2rem;height: 2rem;border: 0;outline: 0;background: url(../images/btn/btn-closed.svg) no-repeat 0 0 / cover;text-indent: -999em;}
.counting-num {position:relative;}
.count-num {position:absolute; top:50%; right:1.2rem; transform:translateY(-50%)}
/******common component end*******/

/*******popup*******/
.w2modal {background-color: #000;opacity: 0.4;}
.w2popup_window {left:50% !important;top:50% !important;display:flex;flex-direction: column;height:auto !important;min-height:20rem;border: 1px solid #ddd;border-radius: 0.8rem;overflow: hidden; box-shadow: 0.4rem 0.4rem 0.8rem 0 rgba(0,0,0,0.08);transform: translate(-50%, -50%);}
.w2popup_window .w2window_header {display:flex;justify-content: space-between;width:100%;height: 5.4rem;position:static;padding:2.4rem 2.4rem 0 2.4rem;border-radius:0.8rem 0.8rem 0 0;background: #fff;box-sizing: border-box;}
.w2popup_window .w2window_header_icon {display: none;}
.w2popup_window .w2window_header_title {position:static;height: 3rem;padding: 0;font-size: 1.8rem;font-weight: 700;line-height: 3rem;color: #202020;}
.w2popup_window .w2window_header_control {position:static;width:auto;height: 3rem;}
.w2popup_window .w2window_close {position:static;width: 3.2rem;height: 3.2rem;background: url(../images/btn/btn-closed.svg) no-repeat 0 0 / cover;}
.w2popup_window .w2window_body {position:static;background-color: transparent;padding: 0;}
.w2popup_window .w2window_body .w2window_content {position:static;border-radius: 0 0 0.8rem 0.8rem;border:0;}
.w2popup_window .pop-contents {display: flex;flex-direction: column;align-items: stretch;}
.w2popup_window .pop-contents .pop-content-box {flex-shrink:1;max-height:calc(100vh - 19rem);padding: 1.2rem 2.4rem 2.4rem;overflow-y: auto;}
.w2popup_window .pop-contents .pop-btn-box {flex-shrink: 0;height: 5rem;display: flex;border-top: 1px solid #ddd;}
.w2popup_window .pop-contents .pop-btn-box .btn {flex:1;height:100%;background-color:#fff;border: 0;border-radius:0;font-size: 1.5rem;font-weight: 700;line-height: 2.2rem;color: #666;}
.w2popup_window .pop-contents .pop-btn-box .btn + .btn {border-left:1px solid #ddd;}
.w2popup_window .pop-contents .pop-btn-box .btn-primary {color: #2E74F2;}

/*alert*/
.pop-alert {min-height:15rem;}
.pop-alert .w2window_header {display: none;}
.pop-alert .alert-contents .pop-content-box {display:flex;justify-content: center;align-items:center;min-height:11rem;padding:3.2rem 2.4rem;font-size:1.5rem;font-weight:500;text-align:center;line-height:2.2rem;box-sizing: border-box;}
.w2modal.transparent {opacity: 0;}
/*검색영역*/
.w2popup_window .search-box {padding:2.4rem;border-radius:0.8rem;border: 1px solid #ddd;background-color: #FBFBFB;}
.w2popup_window .search-box + .btn-box {margin-bottom: 3.2rem;}

/******popup end******/
