
@charset "utf-8";


/**** 로그인 *****/
.login-box {position:relative;display:flex;align-items: center;justify-content: center;width:100%;height:100vh;background-color: #42444E !important;}
.login-box:after {content: '';position:absolute;left:0;top:0;display: block;width: 100%;height: 100%;background:url(../images/bg-kb-symbol.svg) no-repeat right bottom / 45% 50%; opacity:0.02;}
.login-box .inner {position:absolute;width: 40rem;padding-top:7.5rem;z-index: 99;}
.login-box .login-header {display:flex;justify-content: center;align-items: center;margin-bottom:4rem;font-weight: 700;font-size:2.4rem;color: #fff;line-height: 3.5rem;}
.login-box .login-header .w2textbox {padding-bottom: 0.5rem;}
.login-box .logo {display:flex;align-items: center;height: 3.5rem;}
.login-box .logo::after{content: '';display:inline-block;width: 1px;height: 2.2rem;background-color: #fff;margin: 0 1.8rem;opacity: 0.2;}
.login-box .logo a {width:16rem;height: 3.5rem;background: url(../images/kb_logo.png) no-repeat 0 0 / contain;text-indent: -9999em;}
.login-box .login-contents {width: 100%;}
.login-box .login-contents input {width: 100%;height: 4.8rem;padding:1.3rem 1.6rem; border-radius: 0.6rem !important;font-size: 1.5rem;}
.login-box .login-contents input + input {margin-top: 0.8rem;}
.login-box .login-contents .btn {height: 5.6rem;font-size: 1.8rem;font-weight: 700;}
.login-box .login-footer .msg-box,
.login-box .login-footer .msg-box .info-title {color: #ccc;}
.login-box .login-footer .msg-box li::before {background-color: #ccc;}
.login-box .login-footer .msg-box {margin-top: 3.2rem;word-break: keep-all;}
/**** 로그인 끝 *****/


/*댓글영역*/
.contents-view-box {margin-bottom: 3.2rem;}
.comment-box .comment-title {display: flex;justify-content: space-between;align-items: center;margin-bottom: 1.2rem;}
.comment-box .comment-title .user-name {font-size: 1.5rem;font-weight: 500;line-height: 2.2rem;}
.comment-box .comment-title .date {font-size: 1.5rem;font-weight: 300;line-height: 2.2rem;color: #666;}
.comment-box .comment-title .user-name + .date::before,
.comment-list-box .comment-control a + a::before {content: '';display:inline-block;width: 1px;height: 1.6rem;margin:0 1.2rem;background-color: #D9D9D9;transform: translateY(2px);}
.comment-box .comment-title .right {display:flex;gap:0.4rem;font-size: 1.4rem;font-weight: 300;line-height: 2rem;}
.comment-box .comment-title .right .fc-blue {font-weight: 500;}
.comment-box .comments {display: flex;gap:0.6rem;}
.comment-box .comments textarea {flex-grow: 1;}
.comment-box .comments .btn-primary {flex-shrink: 0;height: 7.2rem;width: 7.2rem;}
.comment-box .comments .number {height: 4.4rem;width: 6.5rem;padding: 0.6rem 0;margin-right:1.8rem;background-color:#F3F5F6;border-radius: 0.4rem;font-size: 2rem;font-weight: 700;line-height: 3.2rem;color: #42444E; text-align: center;box-sizing: border-box;}
.comment-box .comments .txt {flex-grow:1;font-size: 1.5rem; font-weight: 300;line-height: 2.2rem;color:#666;}
.comment-list-box .comment-control {margin-top:4rem;padding-bottom:2.4rem;border-bottom: 1px dashed #ccc;}
.comment-list-box .comment-control a {display: inline-block;font-size: 1.5rem;font-weight: 300;line-height: 2.2rem;color:#999;}
.comment-list-box .comment-control a.active {font-weight: 500;color:#202020;}
.comment-list-box .comment-box {padding: 2.4rem 0;border-bottom:1px dashed #ccc;}

/*****관리자 페이지*****/
.manager-box {height: calc(100vh - 18.2rem);}
.author-list-box {position:relative;height:calc(100% - 3.9rem);padding-bottom:3.2rem;margin-top:0.4rem;margin-left: -1.2rem;margin-right: -1.2rem;overflow-y: auto;box-sizing: border-box;}
.author-list-box li {width: 23.2rem;}
.author-list-box li .author {width:100%;height:100%;padding:0.8rem 1.2rem;border-radius:0.4rem;font-size: 1.5rem;font-weight: 300;line-height: 2.2rem;box-sizing: border-box;}
.author-list-box li .author:hover,
.author-list-box li .author:active,
.author-list-box li .author:focus {background-color: #DFEAFF;font-weight: 500;}
.author-list-box .list-controler {position: absolute;left:0.9rem;bottom: 1rem;display: flex;gap: 0.6rem;}

.author-list-box .w2treeview {width: 23.3rem;height: 100%;}
.author-list-box .w2treeview .w2treeview_group{width: 100%;}
.author-list-box .w2treeview > .w2treeview_group:last-child{padding-bottom: 1.6rem;}
.author-list-box .w2treeview .w2treeview_col_label {width:100%;padding: 0.8rem 1.2rem;}
.author-list-box .w2treeview .w2treeview_col_label .w2treeview_label{padding: 0;}
.author-list-box .w2treeview .w2treeview_row_depth1,
.author-list-box .w2treeview .w2treeview_row_depth2 {position: relative;}
.author-list-box .w2treeview .w2treeview_col_icon_navi{width: 0;}
.author-list-box .w2treeview .w2treeview_row_depth1 .w2treeview_col_label .w2treeview_label {font-weight: 700;font-size: 1.5rem;}
.author-list-box .w2treeview .w2treeview_open_child .w2treeview_row_depth1 .w2treeview_icon_navi {position: absolute;right: 1.2rem;top:0.9rem;width: 2rem;height: 2rem;background: url(../images/ico/ico-treeview-minus.svg) no-repeat 0 0 / cover;}
.author-list-box .w2treeview .w2treeview_close_child .w2treeview_row_depth1 .w2treeview_icon_navi {position: absolute;right: 1.2rem;top:0.9rem;width: 2rem;height: 2rem;background: url(../images/ico/ico-treeview-plus.svg) no-repeat 0 0 / cover;}
.author-list-box .w2treeview .w2treeview_guideline {display: none;}
.author-list-box .w2treeview .w2treeview_row_depth2 .w2treeview_icon_navi{position: absolute;left: 1.2rem;top:0.9rem;width: 1.6rem;height: 1.6rem;background: url(../images/ico/ico-drilldown.svg) no-repeat 0 0 / cover;}
.author-list-box .w2treeview .w2treeview_row_depth3 .w2treeview_icon_navi{position: absolute;left: 2.4rem;top:0.9rem;width: 1.6rem;height: 1.6rem;background: url(../images/ico/ico-drilldown.svg) no-repeat 0 0 / cover;}
.author-list-box .w2treeview .w2treeview_row_depth2 .w2treeview_col_label {padding-left: 1.2rem;border-radius: 0.4rem;}
.author-list-box .w2treeview .w2treeview_row_depth3 .w2treeview_col_label {padding-left: 2.4rem;border-radius: 0.4rem;}
.author-list-box .w2treeview .w2treeview_row_depth2 .w2treeview_col_label:hover,
.author-list-box .w2treeview .w2treeview_row_depth3 .w2treeview_col_label:hover {background-color: #DFEAFF;}
.author-list-box .w2treeview .w2treeview_row_depth2 .w2treeview_label,
.author-list-box .w2treeview .w2treeview_row_depth3 .w2treeview_label {margin-left: 1.6rem;font-weight: 300;font-size: 1.4rem;color: #666;}
.author-list-box .w2treeview + .list-controler {padding-top: 1.2rem;background-color: #fff;}
.author-list-box .w2treeview + .list-controler::before {content: '';display: block;position:absolute;left:-1rem;top:-1.2rem;width: calc(100% + 1.6rem);height: 1.6rem;background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);z-index: 120;}

/*****관리자 페이지 end*****/

/*데이터피커*/
.datepicker-box {display: flex;justify-content: center;align-items: center;gap:0.3rem;position: relative;margin-bottom: 2.4rem;}
.datepicker-box > .w2radio {position: absolute;right: 0;}
.datepicker-box .w2inputCalendar_div {width:12rem;height:3rem;border: 0;}
.datepicker-box .w2inputCalendar_div .w2inputCalendar_div_input {width:100% !important;height: 100% !important;}
.datepicker-box .w2inputCalendar_div .w2inputCalendar_divInput {width:100% !important;height: 100% !important;padding:0;font-size: 1.8rem;font-weight: 700;line-height: 3rem;text-align:center;color:#42444E;}
.datepicker-box .w2inputCalendar_div .w2inputCalendar_div_img {left:0;top:0;right:auto;width: 100%;height: 100%; background: none;}
.datepicker-box .w2inputCalendar_div .w2inputCalendar_div_img .w2inputCalendar_button {width: 100%;height: 100%;background: none;}

.test-grid {background-color: #ccc;border:1px solid #aaa}
.test-grid .w2grid{height:100% !important;background-color: #ccc;}
.test-grid .w2grid th,
.test-grid .w2grid td{background-color: #fff;}
